#canvass
{
	text-align: center;
}
#Title
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: auto;
	width: 70%;
	height: 50%;
	background-color: #0E284B;
    border: 4px solid #FFCD0A;
}
#form
{
	margin-right: 10%;
}
#label1
{
	text-align: right;
}
#controlPanel
{
	margin-left: 250px;
}