#canvass
{
	text-align: center;
}
#Title
{
   background-color: #0E284B;
   border: 4px solid #FFCD0A;
   margin-right: auto;
   margin-left: auto;
   width: 80%;
   height: 20%;
   float: middle;
}
#badge
{
	width: 20%;
	height: 351px;
	float: left;
}
#space
{
	width:10%;
	height:351px;
	float:left;
}
#image
{
	border: 4px solid #FFCD0A;
	background:url(/static/Endover.jpg) no-repeat center center;
	width: 70%;
	height: 351px;
	text-align: center;
	vertical-align: middle;
	float: left;
}
#Hatcher
{
	width:101px;
	height:67px;
}
#term2010
{
	margin-left: 110px;
}
#term2020
{
	margin-left: 65px;
}
#bigChoice
{
	border-radius: 5px;
	background-color: #FFCD0A;
	text-align: center;
	vertical-align: middle;
	width: 520px;
	height: 140px;
	margin-right: 325px;
	margin-left: 325px;
	position: relative;

}
#block2
{
  border-radius: 5px;
  background-color: #FFCD0A;
  height: 4px;
  margin:0 auto;
  text-align: center;
  width: 510px;
  position: relative;
}
#choice
{
  border-radius: 5px;
  background-color: #0E284B;
  height: auto;
  margin:0 auto;
  text-align: center;
  width: 510px;
  position: relative;

}