{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/particularCourseStyle.css" type="text/css">
<div class="container" id="canvass">
    <div id="image">
        <div style="height:7px;">
        </div>
        <div id="badge">
            <img src="/static/schoolBadge.jpg" height="80px" align="center">
        </div>
        <div id="Heading">
             <font color="FFFFFF"><h1> A++ Schedule Planner Website</h1></font>
        </div>
    </div>
    <div class="row" style="margin-bottom:1%;">
        <div class="col-sm-9">
            <div class="panel panel-default" id="details">
                <div class="panel-heading" style="background-color:#ffcb0b">
                    <h3 class="panel-title">Class Details</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="col-sm-1">
                            <b><strong>Section: </strong></b>
                        </div>
                        <div class="col-sm-5">
                            <span>{{chosenSection}}</span>
                        </div>
                        <br>
                        {% if termcode == "2020" %}
                            <div class="col-sm-1">
                                <b><strong>Term: </strong></b>
                            </div>
                            <div class="col-sm-5">
                                <span>WN 2015</span>
                            </div>
                            <br>
                        {% else %}
                            <div class="col-sm-1">
                                <b><strong>Term: </strong></b>
                            </div>
                            <div class="col-sm-5">
                                <span>FA 2014</span>
                            </div>
                            <br>
                        {% endif %}
                        <div class="col-sm-1">
                            <b><strong>School: </strong></b>
                        </div>
                        <div class="col-sm-5">
                            <span>{{schoolcode}}</span>
                        </div>
                        <br>
                        <div class="col-sm-1">
                            <b><strong>Course: </strong></b>
                        </div>
                        <div class="col-sm-5">
                            <span>{{subjectcode}}{{catalognumber}}</span>
                        </div>
                        <br>
                        <div class="col-sm-1">
                            <b><strong>Credits: </strong></b>
                        </div>
                        <div class="col-sm-5">
                            <span>{{Sections[0]['CreditHours']}}</span>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default"id="links">
                <div class="panel-heading" style="background-color:#ffcb0b">
                    <h3 class="panel-title">Links</h3>
                </div>
                <ul class="list-group" style="font-size:12px;">
                    <li class="list-group-item list-group-item-cg PageIndexRow" style="height:34px; vertical-align:middle;">
                        <a href="/terms/2020">School selection in Winter</a>
                    </li>
                    <li class="list-group-item list-group-item-cg PageIndexRow" style="height:33px; vertical-align:middle;">
                        <a href="/terms/2010">School selection in Fall</a>
                    </li>
                    <li class="list-group-item list-group-item-cg PageIndexRow" style="height:33px; vertical-align:middle;">
                        <a href="https://wolverineaccess.umich.edu/f/u24l1s13/normal/render.uP" target="_blank">Wolverine Access</a>
                    </li>
                    <li class="list-group-item list-group-item-cg PageIndexRow" style="height:33px; vertical-align:middle;">
                        <a href="http://www.ratemyprofessors.com/"> Rate my professor</a> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" id="teachers">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Instructor</h3>
                </div>
                <div class="panel-body">
                        {% if chosenSection != '000' %}
                            {% for section in Sections %}
                                {% if chosenSection == section['SectionNumber'] %}
                                    {% for instructor in section['Instructors'] %}
                                        {% if instructor['InstructorRole']|length != 0 %}
                                            <div class="col-sm-2">
                                                <b><strong>{{instructor['InstructorRole']}}:</strong></b>
                                            </div>
                                            <div class="col-sm-10">
                                                <span><a href="http://www.ratemyprofessors.com/">{{instructor['FirstName']}}&nbsp{{instructor['LastName']}}</a></span>
                                            </div>
                                        {% else %}
                                            <div class="col-sm-2">
                                                <b><strong>Instructor:</strong></b>
                                            </div>
                                            <div class="col-sm-10">
                                                <span>No data provided yet</span>
                                            </div>
                                        {% endif %}
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for instructor in Sections[0]['Instructors'] %}
                                {% if instructor['InstructorRole']|length != 0 %}
                                    <div class="col-sm-2">
                                        <b><strong>{{instructor['InstructorRole']}}:</strong></b>
                                    </div>
                                    <div class="col-sm-10">
                                        <span><a href="http://www.ratemyprofessors.com/" target="_blank">{{instructor['FirstName']}}&nbsp{{instructor['LastName']}}</a></span>
                                    </div>
                                {% else %}
                                    <div class="col-sm-2">
                                        <b><strong>Instructor:</strong></b>
                                    </div>
                                    <div class="col-sm-10">
                                        <span>No data provided yet</span>
                                    </div>
                                {% endif %}
                                <br>
                            {% endfor %}
                        {% endif %}
                </div>
            </div>   
        </div>
    </div>
    <div class="row" id="textbook">
        <div class="col-sm-12">
                <div class="panel panel-default" style="border-color:#ffcb0b;">
                <div class="panel-heading" style="background-color: #ffcb0b;">
                    <h3 class="panel-title">Textbook</h3>
                </div>
                <div class="panel-body">
                    {% if chosenSection != '000' %}
                        {% for section in Sections %}
                            {% if chosenSection == section['SectionNumber'] %}
                                {% for book in section['Textbooks'] %}
                                    <div>
                                        <div class="col-sm-1">
                                            <b><strong>Title: </strong></b>
                                        </div>
                                        <div class="col-sm-8">
                                            {% if book['Title']|length != 0 %}
                                                <span>{{book['Title']}}</span>
                                            {% else %}
                                                <span>No data provided</span>
                                            {% endif %}
                                        </div>
                                        <br>
                                        <div class="col-sm-1">
                                            <b><strong>ISBN: </strong></b>
                                        </div>
                                        <div class="col-sm-5">
                                            {% if book['ISBN']|length != 0 %}
                                                <span>{{book['ISBN']}}</span>
                                            {% else %}
                                                <span>No data provided</span>
                                            {% endif %}
                                        </div>
                                        <br>
                                        <div class="col-sm-1">
                                            <b><strong>Author: </strong></b>
                                        </div>
                                        <div class="col-sm-5">
                                            {% if book['Author']|length != 0 %}
                                                <span>{{book['Author']}}</span>
                                            {% else %}
                                                <span>No data provided</span>
                                            {% endif %}
                                        </div>
                                        <br>
                                        <div class="col-sm-1">
                                            <b><strong>Edition: </strong></b>
                                        </div>
                                        <div class="col-sm-5">
                                            {% if book['Edition']|length != 0 %}
                                                <span>{{book['Edition']}}</span>
                                            {% else %}
                                                <span>No data provided</span>
                                            {% endif %}
                                        </div>
                                        <br>
                                        <div class="col-sm-1">
                                            <b><strong>Publisher: </strong></b>
                                        </div>
                                        <div class="col-sm-5">
                                            {% if book['Publisher']|length != 0 %}
                                                <span>{{book['Publisher']}}</span>
                                            {% else %}
                                                <span>No data provided</span>
                                            {% endif %}
                                        </div>
                                        <br>
                                        <div class="col-sm-1">
                                            <b><strong>Require: </strong></b>
                                        </div>
                                        <div class="col-sm-5">
                                            {% if book['RequirementStatus']|length != 0 %}
                                                <span>{{book['RequirementStatus']}}</span>
                                            {% else %}
                                                <span>No data provided</span>
                                            {% endif %}
                                        </div>
                                        <br>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for book in Sections[0]['Textbooks'] %}
                            <div>
                                <div class="col-sm-1">
                                    <b><strong>Title: </strong></b>
                                </div>
                                <div class="col-sm-8">
                                    {% if book['Title']|length != 0 %}
                                        <span>{{book['Title']}}</span>
                                    {% else %}
                                        <span>No data provided</span>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="col-sm-1">
                                    <b><strong>ISBN: </strong></b>
                                </div>
                                <div class="col-sm-5">
                                    {% if book['ISBN']|length != 0 %}
                                        <span>{{book['ISBN']}}</span>
                                    {% else %}
                                        <span>No data provided</span>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="col-sm-1">
                                    <b><strong>Author: </strong></b>
                                </div>
                                <div class="col-sm-5">
                                    {% if book['Author']|length != 0 %}
                                        <span>{{book['Author']}}</span>
                                    {% else %}
                                        <span>No data provided</span>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="col-sm-1">
                                    <b><strong>Edition: </strong></b>
                                </div>
                                <div class="col-sm-5">
                                    {% if book['Edition']|length != 0 %}
                                        <span>{{book['Edition']}}</span>
                                    {% else %}
                                        <span>No data provided</span>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="col-sm-1">
                                    <b><strong>Publisher: </strong></b>
                                </div>
                                <div class="col-sm-5">
                                    {% if book['Publisher']|length != 0 %}
                                        <span>{{book['Publisher']}}</span>
                                    {% else %}
                                        <span>No data provided</span>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="col-sm-1">
                                    <b><strong>Require: </strong></b>
                                </div>
                                <div class="col-sm-5">
                                    {% if book['RequirementStatus']|length != 0 %}
                                        <span>{{book['RequirementStatus']}}</span>
                                    {% else %}
                                        <span>No data provided</span>
                                    {% endif %}
                                </div>
                                <br>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="description">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Course Description</h3>
                </div>
                <div class="panel-body">
                    {% if classDescr|length != 0 %}
                        {{classDescr}}
                    {% else %}
                        No available data yet
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="schedule">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Schedule</h3>
                </div>
                <div class="panel-body">
                    <div class="row hidden-xs hidden-sm" style="margin-left:0px; margin-right:0px;" role="presentation">
                        <div class="col-sm-12" role="presentation">
                            <div class="row resultshdr toppadding_main bottompadding_main" role="presentation" style="background-color:#575757; color:#FFFFFF;">
                                <div class="col-md-1" role="presentation">
                                    Section
                                </div>
                                <div class="col-md-2" role="presentation">
                                    Enroll Status
                                </div>
                                <div class="col-md-2" role="presentation">
                                    Available Seats
                                </div>
                                <div class="col-md-2" role="presentation">
                                    Waitlist
                                </div>
                                <div class="col-md-2" role="presentation" style="margin-right: 7%;">
                                    Day/Time
                                </div>
                                <div class="col-md-2" role="presentation">
                                    Location
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for section in Sections %}
                        {% if (i % 2) == 1 %}
                            <div class="row clsschedulerow toppadding_main bottompadding_main" style="margin-left:0px; margin-right: 0px; background-color：#FFFFFF; font-size: 12px;" role="presentation">
                                <div class="col-sm-12" role="presentation" style="height:50px; vertex-align:middle;">
                                    <div class="col-sm-1">
                                        {% if chosenSection == section['SectionNumber'] %}
                                            <span class="badge badge-clsschedule">{{section['SectionNumber']}}({{section['SectionType']}})</span>
                                        {% else %}
                                            {{section['SectionNumber']}}({{section['SectionType']}})
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-2">
                                        {% if section['AvailableSeats'] != '0' %}
                                            <span class="badge badge-open" style="background-color:#5cb85c">Open</span>
                                        {% else %}
                                            <span class="badge badge-closed" style="background-color:#d9534f;">Closed</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-2">
                                        {{section['AvailableSeats']}}
                                    </div>
                                    <div class="col-md-2" role="presentation">
                                        {{section['WaitTotal']}}
                                    </div>
                                    <div class="col-md-5" role="presentation">
                                        {% for meet in section['Meeting'] %}
                                            <div class="col-sm-2">
                                                {{meet['Days']}}
                                            </div>
                                            <div class="col-sm-5">
                                                {{meet['Times']}}
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="https://www.google.com/maps/place/{{meet['Address']['StreetNumber']}}+{{meet['Address']['StreetDirection']}}+{{meet['Address']['StreetName']}},+{{meet['Address']['City']}},+{{meet['Address']['State']}}+{{meet['Address']['ZipCode']}}" target="_blank">{{meet['Location']}}</a>
                                            </div>
                                            <br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% else %}
                            <div class="row clsschedulerow toppadding_main bottompadding_main" style="margin-left:0px; margin-right: 0px; background-color：#eff0f1; font-size: 12px;" role="presentation">
                                <div class="col-sm-12" role="presentation" style="background-color:#eff0f1; height: 50px; vertex-align:middle;">
                                    <div class="col-sm-1">
                                         {% if chosenSection == section['SectionNumber'] %}
                                            <span class="badge badge-clsschedule">{{section['SectionNumber']}}({{section['SectionType']}})</span>
                                        {% else %}
                                            {{section['SectionNumber']}}({{section['SectionType']}})
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-2">
                                        {% if section['AvailableSeats'] != '0' %}
                                            <span class="badge badge-open" style="background-color:#5cb85c">Open</span>
                                        {% else %}
                                            <span class="badge badge-closed" style="background-color:#d9534f;">Closed</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-2">
                                        {{section['AvailableSeats']}}
                                    </div>
                                    <div class="col-md-2" role="presentation">
                                        {{section['WaitTotal']}}
                                    </div>
                                    <div class="col-md-5" role="presentation">
                                        {% for meet in section['Meeting'] %}
                                            <div class="col-sm-2">
                                                {{meet['Days']}}
                                            </div>
                                            <div class="col-sm-5">
                                                {{meet['Times']}}
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="https://www.google.com/maps/place/{{meet['Address']['StreetNumber']}}+{{meet['Address']['StreetDirection']}}+{{meet['Address']['StreetName']}},+{{meet['Address']['City']}},+{{meet['Address']['State']}}+{{meet['Address']['ZipCode']}}" target="_blank">{{meet['Location']}}</a>
                                            </div>
                                            <br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% endif %}
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}