{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/firstSearchpage.css"/>
<script src="/static/bootstrap.min.js"></script>
<div class="container" id="canvass">
    <div class="jumbotron" id="Title">
    	<div id="badge">
    		<img src="/static/schoolBadge.jpg" width="150" height="166">
    	</div>
    	<div class="form-group" id="form">
    		<form method="get" action="/terms/2020/schools/" id="list1">
    		<label for="choiceOfSchools" class="col-sm-4 control-label" id="label1">
    			<font color="FFCD0A">School:
    		</label>
    		<div class="col-sm-6">
    		    <select name="school" class="form-control" title="required">
    			    <option value="">(Required)</option>
    			    {% for school in schools%}
    			        <option value="{{school['SchoolCode']}}">{{school['SchoolDescr']}}</option>
    			    {% endfor%}
    		    </select>
    	    </div>
    		<br>
    		<br>
    		<div id="controlPanel" style="margin-left:30%">
    		    <input type="submit" value="Search" class="btn btn-primary" role="button" style="margin-right:5%;">
    		    <input type="reset" value="Reset" class="btn btn-danger" role="button">
    		</div>
    	    </form>
    	</div>
    </div>
</div>
{% endblock %}